@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');
body {
    font-family: Montserrat;
    background-color: black;
}

p {
    color: white;
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
}

h1 {
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    max-width: 33%;
}

#result {
    color: white;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#round-images {
    display: flex;
    text-align: center;
}

.player-image, .computer-image {
    display: flex;
    flex-direction: column;
}

button {
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
    color: white;
    background-color: black;
    border-radius: 5px;
    width: 33%;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #292926;
}